<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scrapper</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <script src="https://kit.fontawesome.com/31e0fea1b0.js" crossorigin="anonymous"></script>
</head>
<body>
    <main class="container">
        <hgroup>
            <h1>Search Results for "{{keyword}}":</h1>
            <br/>
            <br/>
            <div>
                <i class="fa-solid fa-file-arrow-down fa-lg"></i>
                <a target="_blank" href="/export?keyword={{keyword}}">Export to file</a>
            </div>
            <br/>
            <div>
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                <a href="/">Go search again</a>
            </div>
        </hgroup>
        <br/>
        <h4>There are <strong>{{num_job}}</strong> jobs for you.</h4>
        <figure><table role="grid">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Company</th>
                    <th>Kind</th>
                    <th>Region</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{job.title}}</td> 
                    <td>{{job.company}}</td> 
                    <td>{{job.job_type}}</td> 
                    <td>{{job.location}}</td> 
                    <td><a href={{job.link}} target="_blank">Apply now&rarr;</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table></figure>
    </main>
</body>
</html>